span,
a,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:visited {
  color: var(--text-color);
}

.focus-text {
  font-weight: bold;
  color: var(--hover-color);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--hover-color);
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--hover-color);
  border-radius: 20px;
  border: 3px solid rgba(255, 255, 255, 0);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text-color);
}

body {
  background-color: var(--predominant-color);
}

.text-center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer:hover,
a:hover {
  color: var(--hover-color);
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.hidden {
  display: none !important;
}

.main-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.flex-1 {
  flex: 1;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.justify-content-around {
  justify-content: space-around;
}

.ml-a {
  margin-left: auto;
}

.mr-a {
  margin-right: auto;
}

.fa-brands {
  cursor: pointer;
}

.fa-brands:hover {
  color: var(--hover-color);
}

.br {
  color: var(--text-color);
  font-weight: 400;
  margin-left: 0px !important;
}

.en {
  color: var(--text-color);
  font-weight: 400;
  margin-left: 0px !important;
}

.selected-lang-placeholder {
  margin-right: 5px;
  color: var(--hover-color);
}

.wrap-lang:nth-child(1) {
  margin-right: 1rem;
}

/* Header */

header {
  border-bottom: 1px solid var(--lines-color);
}

.hamburger {
  z-index: 10;
  top: 2rem;
  right: 0.2rem;
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 4px;
  margin-top: 2px;
  background-color: var(--misc-color);
}

/* Footer */

footer {
  width: 100%;
  margin-top: auto;
  height: 69px;
  justify-content: center;
  background-color: var(--predominant-color);
  bottom: 0;
}

/* Menu */

#menu {
  justify-content: center;
  align-items: center;
}

#menu-centered-box {
  justify-content: space-around;
  width: 500px;
}

.ms-0-5 {
  margin-left: 7px;
}

.ms-1 {
  margin-left: 2rem;
}

.mt-1 {
  margin-top: 2rem;
}

.me-1 {
  margin-right: 2rem;
}

.lang-switch {
  width: 90px;
  align-items: center;
}

.lang-switch h2:nth-child(2) {
  margin-left: 10px;
}

.f-width {
  width: 300px !important;
}

/* Mobile Sidebar */

#mobile-sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: var(--predominant-color);
  box-shadow: 0 0 10px var(--box-shadow);
}

.slide-in {
  animation: slideInAnimation 0.3s ease-out forwards;
  /* Apply the animation to the element */
}

@keyframes slideInAnimation {
  to {
    transform: translateX(-100%);
    /* Slide the element 100% of its width to the right */
  }
}

.slide-out {
  animation: slideOutAnimation 0.3s ease-out forwards;
  /* Apply the animation to the element */
}

@keyframes slideOutAnimation {
  to {
    transform: translateX(100%);
    /* Slide the element 100% of its width to the right */
  }
}

/* Main Section */

section {
  justify-content: center;
  flex-grow: 1;
}

#section-container {
  justify-content: center;
  width: 100%;
}

.section-container-title {
  justify-content: center;
}

.spotify-section {
  margin-top: 5rem;
}

.career-img {
  min-width: 500px;
  max-width: 500px;
  width: 100%;
  height: auto;
}

/* Component */

.app-container-content {
  max-width: 1700px;
  padding: 0px 1rem 0px 1rem;
}

.app-container {
  flex: 1;
  overflow: auto;
  justify-content: start;
}

.career-right-text {
  min-width: 500px;
}

/* Switch */

.wrap-theme-switch {
  z-index: 10;
  margin-right: 20px;
  color: rgba(78, 72, 72, 0.596);
}

.wrap-theme-switch:hover {
  cursor: pointer;
  color: var(--box-shadow);
}

.fa-lightbulb {
  font-size: 3rem;
}

.fa-brands {
  font-size: 3rem;
}

.fa-brands.m-1 {
  margin: 1rem;
}

/* Animations */

.show {
  display: flex !important;
  animation: fadeInOut 1s;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

/* Media Queries  */

@media screen and (max-width: 1100px) {
  .description-wrapper {
    padding: 0px 1rem 0px 1rem;
  }
  .wrap-lang {
    margin-left: 0px;
    justify-content: flex-start;
  }
  .mobile-content {
    margin-top: 2.54rem;
  }
  .mobile-content h2 {
    font-weight: 500;
  }
  #draggable-glow {
    position: fixed;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    pointer-events: none;
    z-index: 20;
  }
  .draggable-glow-color-1 {
    background: linear-gradient(to right, transparent, var(--box-shadow));
  }
  .hamburger {
    display: flex !important;
  }
  #menu-centered-box {
    display: none;
  }
  .lang-switch {
    display: none;
  }
  #mobile-sidebar {
    width: 100%;
    right: -100%;
    transition: unset;
  }
  .active {
    right: 0px !important;
  }
}

@media screen and (max-width: 850px) {
  .spotify-section {
    margin-top: 1rem;
    flex-direction: column;
  }

  .career-wrapper {
    flex-direction: column;
  }
  header {
    width: 100%;
    z-index: 9;
  }
  footer {
    height: 60px;
    padding: 0;
  }
  .fa-lightbulb {
    font-size: 2rem;
  }
  .app-container {
    max-height: 100%;
  }
  * {
    font-size: 22px;
    font-weight: 400;
  }
  .fa-brands {
    font-size: 2rem;
  }
  .app-container > .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .wrapper-right {
    margin-left: 0px;
  }
  .wrapper-brands {
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  #menu {
    background-color: var(--predominant-color);
    width: 100%;
  }
  #hamburger {
    top: 1rem;
    right: 4vw;
  }
  .tech-icons {
    font-size: 2rem;
    max-width: 70px;
  }
  section {
    width: 100%;
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .career-block-text {
    text-align: justify;
  }

  .career-img {
    min-width: auto;
    max-width: 300px;
  }

  .career-right-text {
    min-width: 100%;
  }
}

@media screen and (max-width: 415px) {
  * {
    font-size: 15px;
    font-weight: 400;
  }

  .logo {
    margin-left: 20px;
  }
}
